.donation-btn_mobile {
    display: none;
}

@media only screen and (max-width: 992px) {
    .donation-btn_mobile {
        margin-top: 30px;
        margin-bottom: 30px;

        display: block;
        width: 35%;
        height: 40px;
        color: #fff;
        cursor: pointer;

        font-style: normal;
        font-family: "globersemibold";

        text-align: center;
        font-size: 13px;
        line-height: 16px;

        background: #FF5400;
        border: none;
        outline: none;
    }

}