
@media only screen and (max-width: 480px) {

    /* aircompanies links adaptive for small devices */
    .table__row {
        display: flex;
        flex-direction: column;

    }
    table__row td{
        margin-bottom: 15px;
    }
}



