@media only screen and (max-width: 992px) {
    .press__title {
        display: none;
    }

    .title-press {
        margin-bottom: 40px;
        margin-left: 10px;
    }

    #items {
        margin-left: -8px;
        display: flex;
        flex-wrap: wrap;
    }

    #items li {
        max-width: 307px;
        margin: 0 0 32px 12px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 230px;
        max-height: 318px;
        overflow: auto;
    }

    #items li img {
        width: 100%;
    }

    #navi {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #items li {
        max-width: 233px;
        flex-basis: 180px;
        max-height: 260px;
    }
}

@media only screen and (max-width: 605px) {
    #items li {
        flex-basis: 150px;
    }
}

@media only screen and (max-width: 576px) {
    #items li {
        max-width: 260px;
        flex-basis: 180px;
        margin-bottom: 20px;
        max-height: 280px;
    }
}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: 30px;
        text-align: center;
    }

    #items {
        justify-content: center;
    }
}

@media only screen and (min-width: 993px) {
    .title-press {
        display: none;
    }

    #items li {
        width: 199px;
    }

    #items li img {
        width: 199px;
        height: 140px;
    }
}

.stories__list {
    margin-bottom: 50px;
}
