.select-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#filter {
    width: 913px;
}

#filter .select-group__label,
.select-group__label {
    display: inline-block;
    font: normal 11px/11px 'globerbold';
    color: #3b2b2c;
    vertical-align: middle;
}

.select-group__select {
    display: inline-block;
    vertical-align: middle;
}

.filter__city {
    margin-right: 26px;
}

.filter__city .select-group__select {
    width: 113px;
}
