#dog #iwannadog {position:absolute; bottom:0; width:113px; height:37px; padding:38px 0 38px 11px; background:url('../../i/bone.png') no-repeat; font:normal 11px/11px 'globerbold'; color:#fff; text-decoration:none;}
#left #contacts #vd {display:block; width:72px; height:43px; margin:10px 0 10px 0; background:url('../../i/vd-eng.png') no-repeat;}
#left #logo {background:url('../../i/logo-eng.png%3Fv3') no-repeat; height:132px;} /*logo-eng.png*/

.privacy-link {  display: inline-block;  margin-bottom: 10px;  color: #3c3c44; }

.privacy li ol, .privacy li ul { margin-left: 20px; }
.privacy ol { counter-reset: item }
.privacy li { margin: 10px 0; }
.privacy ol > li { display:block }
.privacy ol > li:before { content: counters(item, ".") " "!important; counter-increment: item!important;    color: #000000!important; }

#iwantdog .agreement { display: block;font: normal 13px/13px 'glober_regularregular';color: #686a6b;}
#iwantdog .agreement input { margin-right: 10px; }
