<head>
    <link rel="stylesheet" href="modal.css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="modal">
        <div class="modal__wrap">
            <nav class="modal__nav">
                <a href="../about/index.html">О&nbsp;нас</a>
                <a href="../pets/index.html">Наши питомцы</a>
                <a href="../dog-adoption/index.html">Визит в приют</a>
                <a href="../need-to-know/index.html">Что нужно знать</a>
                <a href="../pet-security/index.html">Безопасность питомца</a>
                <a href="../stories/index.html">Наши счастливые истории</a>
                <a href="../press-about/index.html">О нас пишут</a>
                <a href="../help-us/index.html">Как нам помочь</a>
            </nav>
            <div class="modal__contacts">
                <a href="mailto:povodog@volnoe-delo.ru" class="modal__mail">povodog@volnoe-delo.ru</a>
                <div class="modal__icons">
                    <a href="https://vk.com/povodog_fvd" target='_blank' rel='noopener noreferrer'>
                        <img src="i/vk.png" alt="vkontakte">
                    </a>
                    <a href="https://www.facebook.com/povoDOG?fref=ts" target='_blank' rel='noopener noreferrer'>
                        <img src="i/fb.png" alt="facebook">
                    </a>
                    <a href="https://www.instagram.com/povodog/" target='_blank' rel='noopener noreferrer'>
                        <img src="i/ig.png" alt="instagram">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>