body {
    margin: 0;
}

.modal__header {
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #01A697;
    box-sizing: border-box;
    padding: 0 20px;
}

.modal__header p {
    margin-right: 40px;
    font-size: 25px;
    color: #fff;
}

.modal__close:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
}

.modal__close:active {
    opacity: 0.9;
}

.modal__wrap {
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    background-image: url(./../i/bone-bg.png);
    align-items: center;
    justify-content: space-around;
}

.modal__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__nav a {
    text-decoration: none;
    color: #01A697;
    font-size: 18px;
    font-weight: bold;
    line-height: 2em;
}

.modal__nav a:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.modal__nav a:active {
    opacity: 0.9;
}

.modal__contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.modal__mail {
    margin-bottom: 30px;
    font-size: 15px;
    color: #3C3C44;
}

.modal__icons {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal__icons a {
    text-decoration: none;
}

.modal__icons a:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.modal__icons a:active {
    opacity: 0.9;
}

